.bg-wide {
background-image: url('/assets/img/banner_wide.jpg') ;
 background-repeat: no-repeat;
 background-size: contain;
  background-position: center;
}

.payment-list{
    display: inline-block !important;
    width: auto !important;
}

.text-white{
    color : white;
}


.to-left {
    margin-left: -45px !important;
} 